{% extends "base-template.html" %}

{% block content %}
    <h3 style="font-family: Helvetica, sans-serif; margin: 0 0 16px;">
        Hello! <strong>Super Admin · {{ data.admin_email }}</strong>!
    </h3>
    <p class="text-line">
        a new organization named <strong>{{ data.org_name }}</strong> needs your approval. Please click the link below to approve it.
    </p>
    <table role="presentation" class="btn" style="box-sizing: border-box; width: 100%; min-width: 100%;">
        <tbody>
        <tr>
            <td class="td-cell" style="padding-bottom: 16px;">
                <table role="presentation" style="width: auto;">
                    <tbody>
                    <tr>
                        <td class="td-cell" style="border-radius: 4px; text-align: center;">
                            <a href="{{ data.approve_url }}" target="_blank"
                               style="border-radius: 4px; box-sizing: border-box; cursor: pointer; display: inline-block; font-size: 16px; font-weight: bold; margin: 0; padding: 12px 24px; text-decoration: none; text-transform: capitalize; background-color: #0867ec; border: 2px solid #0867ec;color: #ffffff;">
                                Go To Approve
                            </a>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </td>
        </tr>
        </tbody>
    </table>
    <p class="text-line">
        We are glad you are here!
    </p>
{% endblock %}